/*reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variaveis css*/
:root {
    --text-dark-mode: #FFF;
    --text-light-mode: var(#000);
    --stroke-color-dark-mode: rgba(255, 255, 255, 0.50);
    --stroke-color-light-mode: rgba(0, 0, 0, 0.50);
    --surface-color-dark-mode: rgba(255, 255, 255, 0.10);
    --surface-color-light-mode: rgba(0, 0, 0, 0.05);
    --toggle-handle-color: #FFF;
    --surface-dark-mode-hover: rgba(255, 255, 255, 0.05);
    --highlight-dark-mode: rgba(255, 255, 255, 0.20);
    --highlight-light-mode: rgba(0, 0, 0, 0.10);
    --switcth-bg-sun: url(../image/sun.svg);
    --switcth-bg-moon: url(../image/moon.svg);
}

body {
    background: url(../image/bg-mobile.jpg) no-repeat top center/cover;
    color: var(--text-dark-mode);
    font-family: 'Inter', sans-serif;
    height: 100vh;
    max-width: 360px;
    margin: 0 auto;
}

.l-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 56px;
    padding: 24px;
}

.header__image {
    display: block;
    margin: 24px;
    margin: 0 auto;
    width: 112px;
}

.header__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.switch {
    margin: 0 auto;
    position: relative;
    width: 64px;
}

.switch button {
    animation: slide-back 0.4s;
    border: none;
    background: var(--toggle-handle-color) var(--switcth-bg-sun) no-repeat center;
    border-radius: 50%;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    height: 32px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
}

.switch button:hover {
    outline: 8px solid var(--highlight-dark-mode);
}

.switch span {
    border: 1px solid var(--stroke-color-dark-mode);
    background: var(--surface-color-dark-mode);
    border-radius: 9999px;
    display: block;
    height: 24px;
    position: relative;
    width: 64px;
    -webkit-backdrop-filter: blur(4px);
}

.links__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 24px;
}

.links__list li {
    align-items: center;
    background: var(--surface-color-dark-mode);
    border: 1px solid var(--stroke-color-dark-mode);
    border-radius: 8px;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    padding: 16px 24px;
    width: 312px;
    -webkit-backdrop-filter: blur(4px);
}


.links__list li:hover {
    border: 1.5px solid var(--text-dark-mode);
    background: var(--surface-dark-mode-hover);
    -webkit-backdrop-filter: blur(4px);
}

a {
    color: var(--text-dark-mode);
    text-decoration: none;
}

.redes {
    display: flex;
    font-size: 24px;
    gap: 16px;
    justify-content: center;
    padding: 24px;
}

.redes a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.redes a:hover {
    background: var(--highlight-dark-mode);
    border-radius: 50%;
}

.l-footer {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 24px;
}

.l-footer a {
    font-weight: 400;
    text-decoration-line: underline;
}

/*light mode*/
.light {
    background-image: url(../image/bg-mobile-light.jpg);
    color: var(--text-light-mode);
}

.light li {
    border: 1px solid var(--stroke-color-light-mode);
    background: var(--surface-color-light-mode);
}

.light li:hover {
    border: 1.5px solid black;
    background: var(--surface-color-light-mode);
    -webkit-backdrop-filter: blur(4px);
}

.light a {
    color: var(--text-light-mode);
}

.redes a:hover {
    background: var(--highlight-light-mode);
}

.light button {
    background: var(--toggle-handle-color) var(--switcth-bg-moon) no-repeat center;
    animation: slide-in 0.4s forwards;
    /*right: 0;
    left: initial;*/
}

.light button:hover {
    outline: 8px solid var(--highlight-light-mode);
}

/*background para desktop*/
@media (min-width:700px) {
    body {
        background-image: url(../image/bg-desktop.jpg);

    }

    .light {
        background-image: url(../image/bg-desktop-light.jpg);
    }
}

/*animation*/
@keyframes slide-in {
    from {
        left: 0;
    } to { 
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    } to { 
        left: 0;
    }
}